/* CSS declarations go here */
.hidden_div{
	display:none;
}
.navbar-header{
	width: 100%;
  padding: 0 50px;
}
#login-buttons {
  padding: 15px;
}
#login-dropdown-list {
	left: initial;
  right: -1px;
}
#forgot-password-link{
	display: none;
}
.js-toggle-website-form{
	margin: 20px 0px;
}
#website_form{
	padding: 20px;
}
.website-detail, .js-filter-website-search{
	padding: 20px 0;
}
.required label:before {
  content: "*";
  padding-right: 5px;
  color: #DF0209;
}
.website-detail-info{
	padding: 20px 0;
}