<head>
  <title>siteace</title>
</head>

<body>

</body>

<template name="AppLayout">
  {{> yield "navbar"}}
  {{> yield "main"}}
</template>

<template name="navbar">
	{{> website_recommender_modal}}
	<!-- navbar  - you will be putting the login functions here -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        Site Ace
	      </a>
	      <div class="vcenter pull-right">
	      	{{#if currentUser}}
	      		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	      	{{/if}}
	      	{{> loginButtons}}
	      </div>
	    </div>
	  </div>
	</nav>
</template>

<template name="container">
	<div class="container">
		{{> website_form}}
		{{> website_list}}
	</div>
</template>

<template name="website_form">
	{{#if currentUser}}
		<a class="btn btn-default js-toggle-website-form" href="#">
	  		Post new website <!-- <b>@{{currentUser.username}}</b> -->
		</a>
		<div id="website_form" class="hidden_div">
			<form class="js-save-website-form">
			  <div class="form-group required">
			    <label for="url" class="">Site address</label>
			    <input type="url" class="form-control" id="url" placeholder="http://www.mysite.com" required pattern="https?://.+">
			    <!--
			    {{#if invalidRequired url}}
			    	<label class="required">Mal</label>
			    {{/if}}
			    -->
			  </div>
			  <div class="form-group required">
			    <label for="title">Title</label>
			    <input type="text" class="form-control" id="title" placeholder="Mysite" required>
			  </div>
			  <div class="form-group required">
			    <label for="description">Description</label>
			    <input type="text" class="form-control" id="description" placeholder="I found this site really useful for ..." required>
			  </div>

			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	{{/if}}
</template>

<!-- template that displays several website items -->
<template name="website_list">
	{{> website_search}}
	<ol>
	{{#each websites}}
	{{>website_item}}
	<hr/>
	{{/each}}
	</ol>
</template>

<template name="website_search">
	<form class="js-filter-website-search">
	  <div class="form-group required">
	    <label for="description">Keys words</label>
	    <input type="text" class="form-control" id="keywords" placeholder="Search by ..." required>
	  </div>

	  <button type="submit" class="btn btn-default">Search</button>
	  <a href="#" class="btn btn-default js-clear-website-search">
			Reset <span class="glyphicon glyphicon-eraser" aria-hidden="true"></span>
		</a>
	</form>
</template>

<!-- template that displays individual website entries -->
<template name="website_item">
<li>
	<a href="{{url}}" target="_blank">{{title}}</a>
	<a href="/website/{{_id}}" class="btn btn-default btn-sm">View detail</a>
	<div class="website-detail">
		<a href="#" class="btn btn-success js-upvote">
			{{upvotes}} <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
		<a href="#" class="btn btn-danger js-downvote">
			{{downvotes}} <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</a>
		<div>
	  	Created: <cite title="{{formatDate createdOn}}">{{formatDate createdOn}}</cite>
	  </div>
	</div>
	<p>
		{{description}}
	</p>
	{{#if hasItems comments}}
		<b>Comments</b>
		{{#each comments}}
		{{> website_comments}}
		{{/each}}
	{{/if}}
	<!-- you will be putting your up and down vote buttons in here! -->
</li>
</template>

<!-- template that displays detail of website -->
<template name="website_detail">
<div class="container">
	<a href="{{url}}" target="_blank">{{title}}</a>
	<a href="/" class="btn btn-default btn-sm">Go back</a>
	{{> website_comment_form}}
	<div class="website-detail-info">
		<p>
			<b>Votes</b>
			{{upvotes}} Up vote(s) & {{downvotes}} Down vote(s)
		</p>
		<p>
			<b>Created</b>
			{{formatDate createdOn}}
		</p>
		<p>
			<b>Description</b>
			{{description}}
		</p>
	</div>
	{{#each comments}}
	{{> website_comments}}
	{{/each}}
</div>
</template>

<template name="website_comment_form">
	<a class="btn btn-default btn-sm js-toggle-website-comment-form" href="#">
  		Post new comment
	</a>
	<div id="website_comment_form" class="hidden_div">
		<form class="js-save-website-comment-form">
		  <div class="form-group required">
		    <label for="comment">Comment</label>
		    <input type="text" class="form-control" id="comment" placeholder="Add comment here" required>
		  </div>

		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</template>

<template name="website_comments">
	<blockquote>
	  <p>
			{{comment}}
		</p>
	  <footer>Created: <cite title="{{formatDate createdOn}}">{{formatDate createdOn}}</cite></footer>
	</blockquote>
</template>

<template name="website_recommender_modal">
  <div class="modal fade" id="website_recommender_modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Recommender</h4>
        </div>

        <div class="modal-body">
          <h5>You can see these websites:</h5>
          {{#each recommended_websites}}
						<a href="/website/{{_id}}" class="js-recommender-item">{{title}}</a>
						<p>{{description}}</p>
						<hr/>
					{{else}}
						<b>No recommended websites</b>
					{{/each}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>


